.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* position: relative; */
}
.products-container {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.proceed-link {
  text-decoration: none;
}
.btn-proceed {
  width: 90%;
  height: 40px;
  margin: 10px auto;
  border: none;
  border-radius: 4px;
  background: orange;
  color: white;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
